main {
	text-align: center;
	max-width: 935px;
	width: 100%;
	margin: auto;
	padding: 30px;
}
/* search cont */
.search-input {
	max-width: 510px;
	width: 100%;
	height: 30px;
	padding: 10px;
	border-radius: 5px;
	border: #dddddd solid 2px;
}
.gallery {
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 25px;
}
.gallery a img {
	width: 100%;
	display: block;
}
